
lab1/1.c
lab1/1.exe
lab1/2.exe
lab1/3.c
lab1/3.exe
lab1/a.bin
lab1/a.txt
lab1/b.bin
lab1/bible.txt
lab1/ent.exe
lab1/entropie.py
lab1/enwik8
lab1/enwik9
lab1/kkd_lab1.pdf
lab1/l2z6.pdf
lab1/p.txt
lab1/README.tex
lab1/td.txt
lab1/test.c
lab1/test.exe
lab1/test1.bin
lab1/test2.bin
lab1/test2.c
lab1/test2.exe
lab1/test3.bin
lab1/test4.pdf
lab1/zad.exe
lab2/test.exe
lab2/zad1.exe
lab2/zad.exe
lab2/zad.exe
lab2/zad.exe
lab2/zad.exe
